* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

header {
  height: 80px;
  padding-left: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.2);
  background-color: goldenrod;
}

header h1 {
  color: #282827;
}

header .links {
  height: 100%;
  display: flex;
  border-bottom-right-radius: 5px;

  list-style-type: none;
  font-weight: 600;
  background-color: teal;
}

header .links .my-link {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  transition: 0.2s;
  color: azure;
}

header .links .my-link:hover {
  background-color: cadetblue;
  color: azure;
}
